.footer {
  background-color: $color-grey-dark-1;
  padding: 2rem 0;
  font-size: 1.4rem;
  color: $color-grey-light;
  text-align: center;

  &__logo {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color:$color-white;
    padding: 0;

    @include responsive($tablet-portrait) {
      font-size: 5rem;
    }

    @include responsive($desktop) {
      font-size: 10rem;
    }
  }

  &__info {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;

    @include responsive($tablet-portrait) {
      font-size: 2rem;
    }

  }
}
