.hero {
  position: relative;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary, .8), rgba($color-primary-dark, .8)),
                    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  @include responsive($tablet-portrait) {
    background-image: linear-gradient(to right bottom, rgba($color-primary, .8), rgba($color-primary-dark, .8)),
                      url(../img/hero-medium.jpg);
  }

  @include responsive($desktop) {
    background-image: linear-gradient(to right bottom, rgba($color-primary, .8), rgba($color-primary-dark, .8)),
                      url(../img/hero-large.jpg);
  }

  @supports(clip-path: polygon(0 0)) {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    @include responsive($tablet-landscape) {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
  }

  &__text-box {
    width: 100%;
    text-align: center;
    @include center;

  }
}
