.profile {
  background-color: $color-white;
  text-align: center;

  @supports(clip-path: polygon(0 0)) {
    margin-top: -5rem;
    padding: 5rem 2rem;
    transform: skewY(-12deg);

    &__content {
      transform: skewY(12deg);
    }

    @include responsive($tablet-portrait) {
      margin-top: -10rem;
      padding: 10rem 3rem;
      transform: skewY(-10deg);
      &__content {
        transform: skewY(10deg);
      }
    }

    @include responsive($tablet-landscape) {
      transform: skewY(-5deg);
      &__content {
        transform: skewY(5deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include responsive($tablet-landscape) {
      flex-direction: row;
    }
  }

  &__info > * {
    @include responsive($tablet-landscape) {
      flex: 0 0 50%;
    }
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 75%;
    border-radius: .5rem;
    box-shadow: 0 2rem 4rem rgba($color-black, .8);
    margin-bottom: 3rem;

    @include responsive($tablet-landscape) {
      margin-bottom: 0;
      @supports (clip-path: circle(0)) {
        border-radius: 0;
        box-shadow: none;
        clip-path: circle(43% at 58% 51%);
      }
    }
  }

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__text{
    text-align: left;
    font-family: "Roboto", sans-serif;
    color:$color-grey-dark;
    font-size: $default-font-size;
    border-top: 1px $color-grey-light solid;
    //padding: 2rem;

    @include responsive($tablet-portrait) {
      padding: 3rem 6rem;
      font-size: 2.5rem;
    }
    @include responsive($desktop) {
      padding: 1rem;
      border-top: none;
    }
  }
}
