//Theme

$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-black: #000;

$color-primary: #2962ff;
$color-primary-dark: #0039cb;


//Grid
$grid-gutter: 3rem;
$row-width: 124rem;
$col-horizontal-gutter: 6rem;
$col-vertical-gutter: 3rem;
$col-vertical-gutter-small: 1rem;
/*Media Queries

PHONE             0-600px
TABLET-PORTRAIT   600-900
TABLET-LANDSCAPE  900-1200px
DESKTOP           1200px+
 */

//1em = 16px
$tablet-portrait: 37.5em;
$tablet-landscape: 56.25em;
$desktop: 75em;


//Typography
$default-font-size: 1.6rem;
$default-body-color: $color-grey-light;
$default-font-color: $color-grey-dark;
